- var page = {}
- var hostname = "" //- site domen name

- 
  var content = 
    {
      site: {
        hostname: hostname, //- site domen name
        author: "Tagopen",
        meta: {
          charset: "utf-8",
          favicon: "favicon.png",
          appleTouchIcon: "apple-touch-icon.png"
        },
      }, //- site
      index: {
        hostname: "index.html",
        title: "Главная страница",
        meta: {
          description: "",
          keywords: "",
          openGraph: {
            title: "Site name",
            siteName: "Site name",
            description: "Описание сайта",
            type: "website",
            locale: "ru_RU",
            image: "microformat.png",
            imageType: "image/png",
            url: hostname
          },
          twitter: {
            card: "summary",
            site: "@flickr",
            title: "My Site",
            description: "My Site is cool",
            image: hostname + "/img/logo/microformat.png"
          }
        },
        nav: {
          text: "Официальное представительство компании Pemsan в Украине",
          logo: {
            href: "/",
            img: {
              link: "logo.png",
              alt: "Логотип"
            }
          },
          address: {
            text: "Адресс:",
            subtext: "Контактные данные"
          },
          contact: {
            number: "+38 (123) 456-78-91",
            href: "tel:+381234567891",
            text: "Заказать звонок"
          }
        },
        header: {
          title: {
            heading: "Производим хомуты, кабельные стяжки и ещё 35 видов крепежных ",
            subheading: "Предлагаем цены на <span class=\"title__subheading title__subheading--span\">50%</span> ниже конкурентов, за счет собственного производства."
          },
          form: {
            title: "Получите каталог с полным перечнем продукции, техническими характеристиками и ценами"
          }
        },
        intro: {
          heading: "Идеальное сочетание <span class=\"heading__span\">цены и качества</span>",
          text: "Изделия компании Pemsan производятся в Турции и соответствуют всем европейским и международным стандартам. При этом цена товаров Pemsan ниже европейских аналогов, благодаря экономической поддержке данной сферы производства в Турции.",
          answer: "RoHS (англ. Restriction of Hazardous Substances) — директива, ограничивающая содержание вредных веществ, была принята Европейским союзом в феврале 2003 года",
          img: {
            src: "/img/intro-img.png",
            alt: "Стяжки"
          }
        },  
        properties: {
          heading: "Технические <span class=\"heading__span\">характеристики товара</span>",
          title: "Термостойкость всех хомутов<br> от <span class=\"properties__span properties__span--blue\">-60</span> до <span class=\"properties__span properties__span--red\">+85</span> градусов",
          pointl: "+85",
          pointr: "-60",
          textl: "Не поддерживает процесс горения (классификация UL9A4 V-2)",
          textr: "Не теряет свои свойства даже при экстремально низких температурах"
        },
        catalog: {
          heading: "Каталог продукции",
          products: [
            {
              img: {
                src: "product1.jpg",
                alt: "Стандартные кабельные стяжки"
              },
              name: "Стандартные кабельные стяжки",
              size: [
                {
                  icon: "ic--protractor",
                  name: "Ширина:",
                  value: "от 2.5 мм."
                },
                {
                  icon: "ic--angle",
                  name: "Длинна:",
                  value: "от 10 мм."
                },
                {
                  icon: "ic--trammel",
                  name: "Диаметр:",
                  value: "от 22 мм."
                },
              ],
              price: '0.12 грн',
              btn: "Заказать",
              characteristic: {
                img: {
                  src: "product-modal1.jpg",
                  alt: "Стандартные кабельные стяжки"
                },
                table: {
                  head: [
                    "Артикул",
                    "Ширина",
                    "Длина",
                    "Диаметр охвата",
                    "Предел прочности",
                    "Тип",
                    "Кол-во в упаковке",
                    "Кол-во в коробке",
                    "Цена за шт"
                  ],
                  body: [
                    {
                      article: "EB. 12.212",
                      width: "2,5",
                      long: "100",
                      diametr: "22",
                      strength: "12",
                      type: "Изогнутый",
                      countinpack: "1.000",
                      countinBox: "80.000",
                      priceperone: "0,12 грн"
                    },
                    {
                      article: "EB. 12.212",
                      width: "2,5",
                      long: "100",
                      diametr: "22",
                      strength: "12",
                      type: "Изогнутый",
                      countinpack: "1.000",
                      countinBox: "80.000",
                      priceperone: "0,12 грн"
                    },
                    {
                      article: "EB. 12.212",
                      width: "2,5",
                      long: "100",
                      diametr: "22",
                      strength: "12",
                      type: "Изогнутый",
                      countinpack: "1.000",
                      countinBox: "80.000",
                      priceperone: "0,12 грн"
                    },
                    {
                      article: "EB. 12.212",
                      width: "2,5",
                      long: "100",
                      diametr: "22",
                      strength: "12",
                      type: "Изогнутый",
                      countinpack: "1.000",
                      countinBox: "80.000",
                      priceperone: "0,12 грн"
                    },
                    {
                      article: "EB. 12.212",
                      width: "2,5",
                      long: "100",
                      diametr: "22",
                      strength: "12",
                      type: "Изогнутый",
                      countinpack: "1.000",
                      countinBox: "80.000",
                      priceperone: "0,12 грн"
                    },
                    {
                      article: "EB. 12.212",
                      width: "2,5",
                      long: "100",
                      diametr: "22",
                      strength: "12",
                      type: "Изогнутый",
                      countinpack: "1.000",
                      countinBox: "80.000",
                      priceperone: "0,12 грн"
                    },
                  ]
                }
              }
            },
            {
              img: {
                src: "product2.jpg",
                alt: "Стандартные кабельные стяжки"
              },
              name: "Стандартные кабельные стяжки",
              size: [
                {
                  icon: "ic--protractor",
                  name: "Ширина:",
                  value: "от 2.5 мм."
                },
                {
                  icon: "ic--angle",
                  name: "Длинна:",
                  value: "от 10 мм."
                },
                {
                  icon: "ic--trammel",
                  name: "Диаметр:",
                  value: "от 22 мм."
                },
              ],
              price: '0.12 грн',
              btn: "Заказать",
              characteristic: {
                img: {
                  src: "product-modal2.jpg",
                  alt: "Стандартные кабельные стяжки"
                },
                table: {
                  head: [
                    "Артикул",
                    "Ширина",
                    "Длина",
                    "Диаметр охвата",
                    "Предел прочности",
                    "Тип",
                    "Кол-во в упаковке",
                    "Кол-во в коробке",
                    "Цена за шт"
                  ],
                  body: [
                    {
                      article: "EB. 12.212",
                      width: "2,5",
                      long: "100",
                      diametr: "22",
                      strength: "12",
                      type: "Изогнутый",
                      countinpack: "1.000",
                      countinBox: "80.000",
                      priceperone: "0,12 грн"
                    },
                    {
                      article: "EB. 12.212",
                      width: "2,5",
                      long: "100",
                      diametr: "22",
                      strength: "12",
                      type: "Изогнутый",
                      countinpack: "1.000",
                      countinBox: "80.000",
                      priceperone: "0,12 грн"
                    },
                    {
                      article: "EB. 12.212",
                      width: "2,5",
                      long: "100",
                      diametr: "22",
                      strength: "12",
                      type: "Изогнутый",
                      countinpack: "1.000",
                      countinBox: "80.000",
                      priceperone: "0,12 грн"
                    },
                    {
                      article: "EB. 12.212",
                      width: "2,5",
                      long: "100",
                      diametr: "22",
                      strength: "12",
                      type: "Изогнутый",
                      countinpack: "1.000",
                      countinBox: "80.000",
                      priceperone: "0,12 грн"
                    },
                    {
                      article: "EB. 12.212",
                      width: "2,5",
                      long: "100",
                      diametr: "22",
                      strength: "12",
                      type: "Изогнутый",
                      countinpack: "1.000",
                      countinBox: "80.000",
                      priceperone: "0,12 грн"
                    },
                    {
                      article: "EB. 12.212",
                      width: "2,5",
                      long: "100",
                      diametr: "22",
                      strength: "12",
                      type: "Изогнутый",
                      countinpack: "1.000",
                      countinBox: "80.000",
                      priceperone: "0,12 грн"
                    },
                  ]
                }
              }
            },
            {
              img: {
                src: "product3.jpg",
                alt: "Стандартные кабельные стяжки"
              },
              name: "Стандартные кабельные стяжки",
              size: [
                {
                  icon: "ic--protractor",
                  name: "Ширина:",
                  value: "от 2.5 мм."
                },
                {
                  icon: "ic--angle",
                  name: "Длинна:",
                  value: "от 10 мм."
                },
                {
                  icon: "ic--trammel",
                  name: "Диаметр:",
                  value: "от 22 мм."
                },
              ],
              price: '0.12 грн',
              btn: "Заказать",
              characteristic: {
                img: {
                  src: "product-modal3.jpg",
                  alt: "Стандартные кабельные стяжки"
                },
                table: {
                  head: [
                    "Артикул",
                    "Ширина",
                    "Длина",
                    "Диаметр охвата",
                    "Предел прочности",
                    "Тип",
                    "Кол-во в упаковке",
                    "Кол-во в коробке",
                    "Цена за шт"
                  ],
                  body: [
                    {
                      article: "EB. 12.212",
                      width: "2,5",
                      long: "100",
                      diametr: "22",
                      strength: "12",
                      type: "Изогнутый",
                      countinpack: "1.000",
                      countinBox: "80.000",
                      priceperone: "0,12 грн"
                    },
                    {
                      article: "EB. 12.212",
                      width: "2,5",
                      long: "100",
                      diametr: "22",
                      strength: "12",
                      type: "Изогнутый",
                      countinpack: "1.000",
                      countinBox: "80.000",
                      priceperone: "0,12 грн"
                    },
                    {
                      article: "EB. 12.212",
                      width: "2,5",
                      long: "100",
                      diametr: "22",
                      strength: "12",
                      type: "Изогнутый",
                      countinpack: "1.000",
                      countinBox: "80.000",
                      priceperone: "0,12 грн"
                    },
                    {
                      article: "EB. 12.212",
                      width: "2,5",
                      long: "100",
                      diametr: "22",
                      strength: "12",
                      type: "Изогнутый",
                      countinpack: "1.000",
                      countinBox: "80.000",
                      priceperone: "0,12 грн"
                    },
                    {
                      article: "EB. 12.212",
                      width: "2,5",
                      long: "100",
                      diametr: "22",
                      strength: "12",
                      type: "Изогнутый",
                      countinpack: "1.000",
                      countinBox: "80.000",
                      priceperone: "0,12 грн"
                    },
                    {
                      article: "EB. 12.212",
                      width: "2,5",
                      long: "100",
                      diametr: "22",
                      strength: "12",
                      type: "Изогнутый",
                      countinpack: "1.000",
                      countinBox: "80.000",
                      priceperone: "0,12 грн"
                    },
                  ]
                }
              }
            },
            {
              img: {
                src: "product4.jpg",
                alt: "Стандартные кабельные стяжки"
              },
              name: "Стандартные кабельные стяжки",
              size: [
                {
                  icon: "ic--protractor",
                  name: "Ширина:",
                  value: "от 2.5 мм."
                },
                {
                  icon: "ic--angle",
                  name: "Длинна:",
                  value: "от 10 мм."
                },
                {
                  icon: "ic--trammel",
                  name: "Диаметр:",
                  value: "от 22 мм."
                },
              ],
              price: '0.12 грн',
              btn: "Заказать",
              characteristic: {
                img: {
                  src: "product-modal4.jpg",
                  alt: "Стандартные кабельные стяжки"
                },
                table: {
                  head: [
                    "Артикул",
                    "Ширина",
                    "Длина",
                    "Диаметр охвата",
                    "Предел прочности",
                    "Тип",
                    "Кол-во в упаковке",
                    "Кол-во в коробке",
                    "Цена за шт"
                  ],
                  body: [
                    {
                      article: "EB. 12.212",
                      width: "2,5",
                      long: "100",
                      diametr: "22",
                      strength: "12",
                      type: "Изогнутый",
                      countinpack: "1.000",
                      countinBox: "80.000",
                      priceperone: "0,12 грн"
                    },
                    {
                      article: "EB. 12.212",
                      width: "2,5",
                      long: "100",
                      diametr: "22",
                      strength: "12",
                      type: "Изогнутый",
                      countinpack: "1.000",
                      countinBox: "80.000",
                      priceperone: "0,12 грн"
                    },
                    {
                      article: "EB. 12.212",
                      width: "2,5",
                      long: "100",
                      diametr: "22",
                      strength: "12",
                      type: "Изогнутый",
                      countinpack: "1.000",
                      countinBox: "80.000",
                      priceperone: "0,12 грн"
                    },
                    {
                      article: "EB. 12.212",
                      width: "2,5",
                      long: "100",
                      diametr: "22",
                      strength: "12",
                      type: "Изогнутый",
                      countinpack: "1.000",
                      countinBox: "80.000",
                      priceperone: "0,12 грн"
                    },
                    {
                      article: "EB. 12.212",
                      width: "2,5",
                      long: "100",
                      diametr: "22",
                      strength: "12",
                      type: "Изогнутый",
                      countinpack: "1.000",
                      countinBox: "80.000",
                      priceperone: "0,12 грн"
                    },
                    {
                      article: "EB. 12.212",
                      width: "2,5",
                      long: "100",
                      diametr: "22",
                      strength: "12",
                      type: "Изогнутый",
                      countinpack: "1.000",
                      countinBox: "80.000",
                      priceperone: "0,12 грн"
                    },
                  ]
                }
              }
            },
          ]
        }
      }, //- index
    }