header.header.header__d
  .container
    .row
      .col-xs-12.col-sm-6.header__d-col
        h1.title__heading.title__heading--color-dark!=content.index.header.title.heading
        h2.title__subheading.title__subheading--color-dark!=content.index.header.title.subheading  
      .col-xs-12.col-sm-5.pull-right.text-center
        img.img-responsive(src="img/homutc.png", alt="хомуты")  
      .col-xs-12.col-sm-6.col-md-4
        button.btn.button.button--size.button--c(data-toggle="modal" data-target="#b__modal") Получить каталог продукции
      
          


  