.map
  iframe.map__iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2248.3279078949045!2d37.568816115173085!3d55.70067180348!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54c835aee372f%3A0xf32ebc467a5b8edf!2z0JvQtdC90LjQvdGB0LrQuNC5INC_0YAuLCAyLCA1MDksINCc0L7RgdC60LLQsCwg0KDQvtGB0YHQuNGPLCAxMTkzMzQ!5e0!3m2!1sru!2sua!4v1494967341238" style="border:0" allowfullscreen)
  .container
    .row
      .col-xs-9.col-sm-6.col-md-5
        .map__box
          .map__address
            .row
              .col-xs-3.col-sm-2
                i.ic.map__icon.ic--map1
              .col-xs-9.col-sm-10
                .map__text!=content.index.map.address
          .map__number
            .row
              .col-xs-3.col-sm-2
                i.ic.map__icon.ic--map2
              .col-xs-9.col-sm-10
                a.map__text(href=content.index.nav.contact.href)!=content.index.map.number   