.sertificate
  .container
    .row
      .col-xs-12
        .heading.sertificate__heading!=content.index.sertificate.heading
      .col-xs-6.col-sm-3
        .sertificate__item
          a.sertificate__link.fancyimage(data-fancybox-group='group1', href='img/sertificate1big.png')
            .sertificate__hover
              .sertificate__bg
              i.fa.fa-search-plus.sertificate__icon(aria-hidden="true")
            img.img-responsive(src='img/sertificate1.png' alt='приставка фото')
      .col-xs-6.col-sm-3
        .sertificate__item
          a.sertificate__link.fancyimage(data-fancybox-group='group1', href='img/sertificate2big.png')
            .sertificate__hover
              .sertificate__bg
              i.fa.fa-search-plus.sertificate__icon(aria-hidden="true")
            img.img-responsive(src='img/sertificate2.png' alt='приставка фото')
      .col-xs-6.col-sm-3
        .sertificate__item
          a.sertificate__link.fancyimage(data-fancybox-group='group1', href='img/sertificate3big.png')
            .sertificate__hover
              .sertificate__bg
              i.fa.fa-search-plus.sertificate__icon(aria-hidden="true")
            img.img-responsive(src='img/sertificate3.png' alt='приставка фото')
      .col-xs-6.col-sm-3
        .sertificate__item
          a.sertificate__link.fancyimage(data-fancybox-group='group1', href='img/sertificate4big.png')
            .sertificate__hover
              .sertificate__bg
              i.fa.fa-search-plus.sertificate__icon(aria-hidden="true")
            img.img-responsive(src='img/sertificate4.png' alt='приставка фото')