section.delivery
  .container
    .row
      .col-xs-12.col-sm-5
        .heading.delivery__heading!=content.index.delivery.heading
        .delivery__text!=content.index.delivery.text 
        .delivery__group
          .row
            .col-sm-12.col-md-6
              i.ic.ic--intime
            .col-sm-12.col-md-6    
              i.ic.ic--nova 
      .col-xs-12.col-sm-7.text-center
        img.img-responsive.delivery__img(src=content.index.delivery.image.src, alt=content.index.delivery.image.alt)
        