section.experience
  i.hidden-xs.hidden-sm.ic.ic--box.experience__icon
  .container
    .row
      .col-xs-12
        .heading.experience__heading!=content.index.experience.heading
      .col-xs-7.col-sm-6
        .experience__text!=content.index.experience.text 
        .experience__subtext!=content.index.experience.subtext 