.map
  iframe.map__iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2541.344555262705!2d30.475717214910308!3d50.43468249638321!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4ce959f668c33%3A0x3ee1549da2c6652e!2z0LLRg9C70LjRhtGPINCh0YPRgNC40LrQvtCy0LAsIDMsINCa0LjRl9Cy!5e0!3m2!1sru!2sua!4v1494596727045" style="border:0" allowfullscreen)
  .container
    .row
      .col-xs-9.col-sm-6.col-md-5
        .map__box
          .map__address
            .row
              .col-xs-3.col-sm-2
                i.ic.map__icon.ic--map1
              .col-xs-9.col-sm-10
                .map__text!=content.index.map.address
          .map__number
            .row
              .col-xs-3.col-sm-2
                i.ic.map__icon.ic--map2
              .col-xs-9.col-sm-10
                a.map__text(href=content.index.nav.contact.href)!=content.index.map.number   