// SASS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home
//   width: $icon-home-width
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites
$address-name: 'address'
$address-x: 921px
$address-y: 275px
$address-offset-x: -921px
$address-offset-y: -275px
$address-width: 40px
$address-height: 45px
$address-total-width: 968px
$address-total-height: 743px
$address-image: 'sprite.png'
$address: (921px, 275px, -921px, -275px, 40px, 45px, 968px, 743px, 'sprite.png', 'address', )
$angle-name: 'angle'
$angle-x: 944px
$angle-y: 195px
$angle-offset-x: -944px
$angle-offset-y: -195px
$angle-width: 16px
$angle-height: 15px
$angle-total-width: 968px
$angle-total-height: 743px
$angle-image: 'sprite.png'
$angle: (944px, 195px, -944px, -195px, 16px, 15px, 968px, 743px, 'sprite.png', 'angle', )
$arrow-md-name: 'arrow-md'
$arrow-md-x: 772px
$arrow-md-y: 335px
$arrow-md-offset-x: -772px
$arrow-md-offset-y: -335px
$arrow-md-width: 76px
$arrow-md-height: 40px
$arrow-md-total-width: 968px
$arrow-md-total-height: 743px
$arrow-md-image: 'sprite.png'
$arrow-md: (772px, 335px, -772px, -335px, 76px, 40px, 968px, 743px, 'sprite.png', 'arrow-md', )
$arrow-sm-name: 'arrow-sm'
$arrow-sm-x: 876px
$arrow-sm-y: 171px
$arrow-sm-offset-x: -876px
$arrow-sm-offset-y: -171px
$arrow-sm-width: 58px
$arrow-sm-height: 68px
$arrow-sm-total-width: 968px
$arrow-sm-total-height: 743px
$arrow-sm-image: 'sprite.png'
$arrow-sm: (876px, 171px, -876px, -171px, 58px, 68px, 968px, 743px, 'sprite.png', 'arrow-sm', )
$box-name: 'box'
$box-x: 0px
$box-y: 0px
$box-offset-x: 0px
$box-offset-y: 0px
$box-width: 762px
$box-height: 430px
$box-total-width: 968px
$box-total-height: 743px
$box-image: 'sprite.png'
$box: (0px, 0px, 0px, 0px, 762px, 430px, 968px, 743px, 'sprite.png', 'box', )
$intime-name: 'intime'
$intime-x: 772px
$intime-y: 0px
$intime-offset-x: -772px
$intime-offset-y: 0px
$intime-width: 196px
$intime-height: 83px
$intime-total-width: 968px
$intime-total-height: 743px
$intime-image: 'sprite.png'
$intime: (772px, 0px, -772px, 0px, 196px, 83px, 968px, 743px, 'sprite.png', 'intime', )
$intro-1-name: 'intro-1'
$intro-1-x: 772px
$intro-1-y: 171px
$intro-1-offset-x: -772px
$intro-1-offset-y: -171px
$intro-1-width: 94px
$intro-1-height: 94px
$intro-1-total-width: 968px
$intro-1-total-height: 743px
$intro-1-image: 'sprite.png'
$intro-1: (772px, 171px, -772px, -171px, 94px, 94px, 968px, 743px, 'sprite.png', 'intro-1', )
$intro-2-name: 'intro-2'
$intro-2-x: 772px
$intro-2-y: 275px
$intro-2-offset-x: -772px
$intro-2-offset-y: -275px
$intro-2-width: 139px
$intro-2-height: 50px
$intro-2-total-width: 968px
$intro-2-total-height: 743px
$intro-2-image: 'sprite.png'
$intro-2: (772px, 275px, -772px, -275px, 139px, 50px, 968px, 743px, 'sprite.png', 'intro-2', )
$nova-name: 'nova'
$nova-x: 772px
$nova-y: 93px
$nova-offset-x: -772px
$nova-offset-y: -93px
$nova-width: 189px
$nova-height: 68px
$nova-total-width: 968px
$nova-total-height: 743px
$nova-image: 'sprite.png'
$nova: (772px, 93px, -772px, -93px, 189px, 68px, 968px, 743px, 'sprite.png', 'nova', )
$papka-sm-name: 'papka-sm'
$papka-sm-x: 0px
$papka-sm-y: 440px
$papka-sm-offset-x: 0px
$papka-sm-offset-y: -440px
$papka-sm-width: 395px
$papka-sm-height: 303px
$papka-sm-total-width: 968px
$papka-sm-total-height: 743px
$papka-sm-image: 'sprite.png'
$papka-sm: (0px, 440px, 0px, -440px, 395px, 303px, 968px, 743px, 'sprite.png', 'papka-sm', )
$papka-xs-name: 'papka-xs'
$papka-xs-x: 405px
$papka-xs-y: 440px
$papka-xs-offset-x: -405px
$papka-xs-offset-y: -440px
$papka-xs-width: 197px
$papka-xs-height: 303px
$papka-xs-total-width: 968px
$papka-xs-total-height: 743px
$papka-xs-image: 'sprite.png'
$papka-xs: (405px, 440px, -405px, -440px, 197px, 303px, 968px, 743px, 'sprite.png', 'papka-xs', )
$protractor-name: 'protractor'
$protractor-x: 944px
$protractor-y: 171px
$protractor-offset-x: -944px
$protractor-offset-y: -171px
$protractor-width: 20px
$protractor-height: 14px
$protractor-total-width: 968px
$protractor-total-height: 743px
$protractor-image: 'sprite.png'
$protractor: (944px, 171px, -944px, -171px, 20px, 14px, 968px, 743px, 'sprite.png', 'protractor', )
$trammel-name: 'trammel'
$trammel-x: 944px
$trammel-y: 220px
$trammel-offset-x: -944px
$trammel-offset-y: -220px
$trammel-width: 16px
$trammel-height: 14px
$trammel-total-width: 968px
$trammel-total-height: 743px
$trammel-image: 'sprite.png'
$trammel: (944px, 220px, -944px, -220px, 16px, 14px, 968px, 743px, 'sprite.png', 'trammel', )
$spritesheet-width: 968px
$spritesheet-height: 743px
$spritesheet-image: 'sprite.png'
$spritesheet-sprites: ($address, $angle, $arrow-md, $arrow-sm, $box, $intime, $intro-1, $intro-2, $nova, $papka-sm, $papka-xs, $protractor, $trammel, )
$spritesheet: (968px, 743px, 'sprite.png', $spritesheet-sprites, )

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home
//   @include sprite-width($icon-home)
//
// .icon-email
//   @include sprite($icon-email)
//
// Example usage in HTML:
//   `display: block` sprite:
//   <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//   // CSS
//   .icon {
//     display: inline-block;
//   }
//
//   // HTML
//   <i class="icon icon-home"></i>
@mixin sprite-width($sprite)
  width: nth($sprite, 5)

@mixin sprite-height($sprite)
  height: nth($sprite, 6)

@mixin sprite-position($sprite)
  $sprite-offset-x: nth($sprite, 3)
  $sprite-offset-y: nth($sprite, 4)
  background-position: $sprite-offset-x  $sprite-offset-y

@mixin sprite-image($sprite)
  $sprite-image: nth($sprite, 9)
  background-image: url(#{$sprite-image})

@mixin sprite($sprite)
  @include sprite-image($sprite)
  @include sprite-position($sprite)
  @include sprite-width($sprite)
  @include sprite-height($sprite)

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SASS
//
// @include sprites($spritesheet-sprites)
@mixin sprites($sprites)
  @each $sprite in $sprites
    $sprite-name: nth($sprite, 10)
    .#{$sprite-name}
      @include sprite($sprite)
