// SASS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home
//   width: $icon-home-width
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites
$address-name: 'address'
$address-x: 68px
$address-y: 417px
$address-offset-x: -68px
$address-offset-y: -417px
$address-width: 40px
$address-height: 45px
$address-total-width: 602px
$address-total-height: 485px
$address-image: 'sprite.png'
$address: (68px, 417px, -68px, -417px, 40px, 45px, 602px, 485px, 'sprite.png', 'address', )
$arrow-md-name: 'arrow-md'
$arrow-md-x: 253px
$arrow-md-y: 313px
$arrow-md-offset-x: -253px
$arrow-md-offset-y: -313px
$arrow-md-width: 76px
$arrow-md-height: 40px
$arrow-md-total-width: 602px
$arrow-md-total-height: 485px
$arrow-md-image: 'sprite.png'
$arrow-md: (253px, 313px, -253px, -313px, 76px, 40px, 602px, 485px, 'sprite.png', 'arrow-md', )
$arrow-sm-name: 'arrow-sm'
$arrow-sm-x: 0px
$arrow-sm-y: 417px
$arrow-sm-offset-x: 0px
$arrow-sm-offset-y: -417px
$arrow-sm-width: 58px
$arrow-sm-height: 68px
$arrow-sm-total-width: 602px
$arrow-sm-total-height: 485px
$arrow-sm-image: 'sprite.png'
$arrow-sm: (0px, 417px, 0px, -417px, 58px, 68px, 602px, 485px, 'sprite.png', 'arrow-sm', )
$intro-1-name: 'intro-1'
$intro-1-x: 0px
$intro-1-y: 313px
$intro-1-offset-x: 0px
$intro-1-offset-y: -313px
$intro-1-width: 94px
$intro-1-height: 94px
$intro-1-total-width: 602px
$intro-1-total-height: 485px
$intro-1-image: 'sprite.png'
$intro-1: (0px, 313px, 0px, -313px, 94px, 94px, 602px, 485px, 'sprite.png', 'intro-1', )
$intro-2-name: 'intro-2'
$intro-2-x: 104px
$intro-2-y: 313px
$intro-2-offset-x: -104px
$intro-2-offset-y: -313px
$intro-2-width: 139px
$intro-2-height: 50px
$intro-2-total-width: 602px
$intro-2-total-height: 485px
$intro-2-image: 'sprite.png'
$intro-2: (104px, 313px, -104px, -313px, 139px, 50px, 602px, 485px, 'sprite.png', 'intro-2', )
$papka-sm-name: 'papka-sm'
$papka-sm-x: 0px
$papka-sm-y: 0px
$papka-sm-offset-x: 0px
$papka-sm-offset-y: 0px
$papka-sm-width: 395px
$papka-sm-height: 303px
$papka-sm-total-width: 602px
$papka-sm-total-height: 485px
$papka-sm-image: 'sprite.png'
$papka-sm: (0px, 0px, 0px, 0px, 395px, 303px, 602px, 485px, 'sprite.png', 'papka-sm', )
$papka-xs-name: 'papka-xs'
$papka-xs-x: 405px
$papka-xs-y: 0px
$papka-xs-offset-x: -405px
$papka-xs-offset-y: 0px
$papka-xs-width: 197px
$papka-xs-height: 303px
$papka-xs-total-width: 602px
$papka-xs-total-height: 485px
$papka-xs-image: 'sprite.png'
$papka-xs: (405px, 0px, -405px, 0px, 197px, 303px, 602px, 485px, 'sprite.png', 'papka-xs', )
$spritesheet-width: 602px
$spritesheet-height: 485px
$spritesheet-image: 'sprite.png'
$spritesheet-sprites: ($address, $arrow-md, $arrow-sm, $intro-1, $intro-2, $papka-sm, $papka-xs, )
$spritesheet: (602px, 485px, 'sprite.png', $spritesheet-sprites, )

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home
//   @include sprite-width($icon-home)
//
// .icon-email
//   @include sprite($icon-email)
//
// Example usage in HTML:
//   `display: block` sprite:
//   <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//   // CSS
//   .icon {
//     display: inline-block;
//   }
//
//   // HTML
//   <i class="icon icon-home"></i>
@mixin sprite-width($sprite)
  width: nth($sprite, 5)

@mixin sprite-height($sprite)
  height: nth($sprite, 6)

@mixin sprite-position($sprite)
  $sprite-offset-x: nth($sprite, 3)
  $sprite-offset-y: nth($sprite, 4)
  background-position: $sprite-offset-x  $sprite-offset-y

@mixin sprite-image($sprite)
  $sprite-image: nth($sprite, 9)
  background-image: url(#{$sprite-image})

@mixin sprite($sprite)
  @include sprite-image($sprite)
  @include sprite-position($sprite)
  @include sprite-width($sprite)
  @include sprite-height($sprite)

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SASS
//
// @include sprites($spritesheet-sprites)
@mixin sprites($sprites)
  @each $sprite in $sprites
    $sprite-name: nth($sprite, 10)
    .#{$sprite-name}
      @include sprite($sprite)
