+comment('general style')
+ic
@each $sprite in $spritesheet-sprites
  .ic--#{nth($sprite, 10)}
    &:before
      +bs($sprite)
a
  text-decoration: none
  outline: none
  &:hover,
  &:focus
    text-decoration: none     
    outline: none
.heading
  font: 600 30px/30px $main-font-bebas
  color: $main-text-color  
  margin: 0 0 25px
  &--white
    color: #fff
  &:after
    content: ''
    display: block
    width: 70px
    height: 5px
    background-color: #369
    margin-top: 10px
  &__span
    display: block
    font: 24px/24px $main-font-bebas
+r(760)    
  .heading
    font: 600 48px/50px $main-font-bebas 
    &:after
      margin-top: 15px
    &__span   
      font: 30px/30px $main-font-bebas
+r(1200)    
  .heading
    font: 600 60px/60px $main-font-bebas 
    &__span   
      font: 36px/36px $main-font-bebas      
.text-danger
  color: #e74c3c
  text-align: left
.button
  background: $main-btn-color  
  color: $main-text-color 
  box-shadow: 0px 8px 0px 0px rgba(255,162,0,1)
  transition: all 0.3s ease
  border: 0
  padding: 17px 10px 11px
  text-align: center
  white-space: normal
  font: 400 20px/30px $main-font-bebas
  &:hover,
  &:focus
    color: $main-text-color 
    background: rgba(255,162,0,1)
  &--size
    width: 100%      
.modal
  -webkit-overflow-scrolling: touch
  transform: translateZ(0)
.form
  &__input
    padding: 19px 10px 18px 10px
    border: 0  
    color: #878787
    font: 400 14px/18px $main-font-roboto
  &__title
    font: 400 20px/30px $main-font-bebas
    color: #fff 
.input
  &__heading
    font: 600 16px/20px $main-font-bebas
    color: #fff
    margin-bottom: 10px    
+r(760)
  .form
    &__title
      font: 400 24px/30px $main-font-bebas 
      margin-bottom: 20px 
  .input
    &__heading
      font: 600 20px/22px $main-font-bebas
      margin-bottom: 10px
+r(992)
  .form
    &-group
      margin-bottom: 20px
    &__title
      font: 400 30px/36px $main-font-bebas  
+comment("home page style")
.navbar
  padding: 20px 0
  margin: 0
  border-radius: 0
  border: 0
.logo
  &__text
    display: inline-block
    color: $main-text-color
    font: 300 12px/14px $main-font-roboto
.address
  display: table
  padding-top: 15px
  &__icon
    display: table-cell
    vertical-align: middle
  &__info
    display: table-cell
    vertical-align: middle  
    padding-left: 20px
    text-align: left    
  &__text
    font: 600 14px/18px $main-font-bebas 
    color: $main-text-color 
  &__subtext
    font: 400 14px/18px $main-font-bebas 
    color: $main-text-color  
.contact
  &__link
    display: block
  &__number  
    font: 400 18px/24px $main-font-bebas
    color: #000
  &__btn
    &--text
      display: inline-block
      font: 300 13px/18px $main-font-roboto
      color: $main-text-color  
      border-bottom: 1px dashed $main-text-color  
  &__icon
    margin-right: 5px   
+r(760)
  .contact
    padding-top: 15px
    &__number
      font: 400 24px/24px $main-font-bebas    
    &__btn
      &--text
        font: 300 16px/18px $main-font-roboto   
+r(992)  
  .logo
    &__text
      padding-top: 5px
  .address
    padding-top: 0
  .contact
    padding-top: 0  
+r(1200)      
  .contact
    &__number
      font: 400 28px/30px $main-font-bebas     
+comment("header style")
.header
  padding: 20px 0
  background: url(../img/headerbg.jpg) no-repeat 
  background-position: center
  background-size: cover
  overflow: hidden
  &__form
    position: relative
    z-index: 10
    margin: 0 auto
    max-width: 320px
    .ic
      &__papka
        position: absolute
        top: 90px
        right: -15px
.title
  position: relative
  padding: 18px 10px
  border-top: 5px solid #369  
  border-bottom: 5px solid #369  
  border-left: 5px solid #369  
  &:before
    content: ''
    position: absolute
    right: 0
    top: -4px
    height: 53%
    width: 5px
    background: #369
    transform: rotate(-12deg) 
    transform-origin: 100% 0
  &:after
    content: ''
    position: absolute
    right: 0
    bottom: -4px
    height: 53%
    width: 5px
    background: #369
    transform: rotate(12deg)
    transform-origin: 0 100%
  &__heading
    font: 400 30px/36px $main-font-roboto
    color: #fff
    margin: 0 0 10px
  &__subheading
    font: 300 18px/24px $main-font-roboto
    color: #fff 
    margin: 0
    &--span
      font: 600 18px/24px $main-font-roboto
      color: red             
+r(480)     
  .title
    &:before,
    &:after
      height: 54% 
+r(760)
  .header
    padding: 50px 0  
    &__form
      max-width: none
      .ic
        &__papka
          top: 200px
          right: -150px
        &__arrow
          position: absolute  
          top: 310px
          left: 15px
  .title
    padding: 25px 30px 25px 35px  
    &__heading
      font: 400 36px/40px $main-font-roboto 
    &:before
      transform: rotate(-15deg) 
      height: 53%
    &:after   
      transform: rotate(15deg) 
      height: 53%  
+r(992)
  .header
    padding: 70px 0 
    &__form
      .ic
        &__arrow  
          top: 345px
          right: 140px    
  .title
    border-width: 10px
    &:before
      transform: rotate(-17deg) 
      height: 54%
      width: 10px
      top: -6px
    &:after
      transform: rotate(17deg)
      height: 54%
      width: 10px
      bottom: -7px
    &__heading
      font: 600 40px/46px $main-font-roboto 
    &__subheading
      font: 300 24px/30px $main-font-roboto  
      &--span  
        font: 600 24px/30px $main-font-roboto    
+r(1200)
  .header
    &__form
      .ic
        &__arrow  
          top: 315px
          right: 40px
  .title
    &:before
      height: 57%
      top: -9px
      transform: rotate(-17deg) 
    &:after
      transform: rotate(18deg)
      height: 54%  
+comment("intro style")      
.intro
  padding: 40px 0 0
  background: url(../img/introbg.jpg) no-repeat
  background-position: center
  background-size: cover
  overflow: hidden
  &__heading
    margin-bottom: 20px
  &__text
    font: 300 14px/21px $main-font-roboto  
    color: $main-text-color
    margin-bottom: 25px
  &__icon  
    display: inline-block
    position: relative
  &__question   
    display: inline-block
    position: absolute
    right: -20px
    top: -20px
    font-size: 20px
    color: #369
    cursor: pointer
    &:hover,
    &:focus
      color: $main-btn-color
      &~.intro__answer
        opacity: 1
        display: inline-block
  &__answer
    position: absolute
    opacity: 0
    display: none  
    padding: 10px
    font: 300 14px/21px $main-font-roboto 
    color: $main-text-color
    background-color: white
    box-shadow: 0 0 15px rgba(0, 3, 2, 0.35)
    width: 290px
    top: -10px
    right: 50%
    margin-right: -105px
.ic
  &--intro-1
    margin-right: 20px  
+r(760)
  .intro
    padding: 0
    &__heading
      margin-top: 50px 
    &__group
      padding-bottom: 50px 
    &__col
      background: url(../img/introbg.png) no-repeat
      background-size: cover
      background-position: center
      display: table
      text-align: center
    &__answer
      top: -50px
      margin-right: 0
      right: 0
      left: 120%
      z-index: 20
    &__img
      display: table-cell  
  .ic
    &--intro-1
      margin-right: 40px     
+r(992)
  .intro
    &__heading
      margin-bottom: 30px 
    &__text
      font: 300 18px/27px $main-font-roboto   
  .ic
    &--intro-1
      margin-right: 60px       
+comment("catalog style")      
.catalog
  padding: 40px 0
.product
  box-shadow: 0 0 0 2px #f1f1f1
  margin-bottom: 30px
  transition: all 0.3s ease
  &:hover,
  &:focus
    box-shadow: 2.5px 4.3px 45px rgba(0, 3, 2, 0.1)
  &__photo
    margin-bottom: 25px
  &__name
    font: 600 18px/20px $main-font-bebas 
    color: $main-text-color
    margin-bottom: 20px
    &:after
      content: ''
      display: block
      margin: 5px auto 0
      width: 75px
      height: 3px
      background-color: #369
  &__option
    margin-bottom: 20px
  &__price
    font: 400 18px/20px $main-font-roboto
    color: $main-text-color 
    margin-bottom: 10px 
  &__cost   
    font: 600 36px/40px $main-font-bebas  
    color: red
  &__order  
    padding: 25px 0 45px
    background-color: #f8f8f8
  &__btn
    width: 180px  
    font: 600 24px/30px $main-font-bebas
.option
  &__item
    margin-bottom: 5px
    text-align: left
  &__text   
    font: 300 18px/20px $main-font-roboto 
  &__icon
    vertical-align: top  
+r(760)
  .product
    &__name
      font: 600 24px/27px $main-font-bebas 
+comment("properties style")       
.properties
  padding: 25px 0 30px
  background: url(../img/propertiesbg.jpg) no-repeat
  background-position: center
  background-size: cover
  &__title
    font: 500 18px/24px $main-font-roboto
    color: #fff
    margin-bottom: 25px
  &__span
    &--blue
      color: #369
    &--red
      color: red
  &__col
    margin-bottom: 15px    
  &__text
    display: table-cell
    font: 300 18px/24px $main-font-roboto
    color: #fff
  &__point  
    display: table-cell
    vertical-align: middle
    font: 400 36px/36px $main-font-bebas
    padding-right: 10px
    &--blue
      color: #369
    &--red
      color: red
+r(760)  
  .properties
    padding: 50px 0 100px
    background: url(../img/propertiesbg-lg.jpg) no-repeat
    background-position: center
    background-size: cover
    &__title
      font: 500 24px/30px $main-font-roboto 
    &__col
      float: right  
    &__point  
      font: 400 48px/50px $main-font-bebas  
+r(1200)  
  .properties
    padding: 50px 0 180px       
    &__title
      margin-bottom: 60px
+comment("endurance style")       
.endurance
  padding: 35px 0
  &__heading
    font: 500 18px/24px $main-font-roboto
    color: #191919 
    margin-bottom: 15px
  &__img
    margin-bottom: 20px
  &__text
    font: 300 14px/21px $main-font-roboto
    color: #191919
+r(760)     
  .endurance
    padding: 0
    &__heading
      margin-top: 100px
    &__col
      background: url(../img/endurancecolbg.png) no-repeat
      background-position: center
      background-size: cover
      display: table
      text-align: center
    &__text
      margin-bottom: 150px
    &__img    
      display: table-cell
+r(992)       
  .endurance
    &__heading
      font: 500 24px/30px $main-font-roboto
      margin-bottom: 35px
    &__img
      margin-left: -15px  
      margin-bottom: 30px
    &__text
      font: 300 18px/24px $main-font-roboto
      