extends base/_layout.pug
block variables

block styles

block scripts

block content
  include components/_nav.pug
  include partials/_headerd.pug
  include partials/_intro.pug
  include partials/_product.pug
  include partials/_properties.pug
  include partials/_endurance.pug
  include partials/_advantages.pug
  include partials/_experience.pug
  include partials/_delivery.pug
  include partials/_contact.pug
  include partials/_certificates.pug
  include partials/_map.pug
block footer
  include partials/_footer.pug
block modal
  include partials/_modal.pug
